<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="application">
            <directory>./Application/Controller</directory>
            <directory>./Application/Model</directory>
            <directory>./Application/Model/Entity</directory>
            <directory>./Application/Model/Service</directory>
            <directory>./Application/Model/Repository</directory>
            <directory>./Application/Model/Form</directory>
        </testsuite>
    </testsuites>
</phpunit>